<div id="F_container">
    <div id="left">
      <h6>Useful Links</h6>
      <a href="https://d3-graph-gallery.com/">D3.js</a>
<a href="https://www.kaggle.com/datasets/kabhishm/best-selling-music-artists-of-all-time">Data</a>
      <a href="https://github.com/mahyarsadeghi/mahyarsadeghi.github.io.git">Project's GitHub Repo</a>
    </div>
    <div id="right">
      <h6>Quick Links</h6>
      <a href="index.html">Home</a></li>
      <a href="geo.html">Geo Analysis</a></li>
      <a href="time.html">Time Analysis</a></li>
      <a href="genre.html">Genre & Artist Analysis</a></li>
<a href="about.html">About us</a></li>
    </div>
    <div id="down">
      <p class="copyright-text">
        Copyright &copy; 2023 All Rights Reserved by
        <a href="about.html">TATANKA</a>
        <a class="navbar-brand" href="index.html"><img id="logo" src="../iimages/bisonLogo2.png"></a>
      </p>
    </div>
</div>

