<!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
<!-- <a href="index.html" >
  <figure class="user">
    <div class="user-avatar">
      <img src="./iimages/bisonLogo2.jpg" />
    </div>
    <figcaption>TATANKA</figcaption>
  </figure>
</a>

  <nav>
    <section class="dicover">
      <h3>Sections</h3>

      <ul>
        <li>
          <a href="index.html">

            <i class="fa fa-home fa-2x" aria-hidden="true" ></i>
            Home Page 
          </a>
        </li>
        <li>
          <a href="geo.html">
            <i class="fa fa-globe fa-2x" aria-hidden="true"></i>

            Geo Analysis
          </a>
        </li>

        <li>
          <a href="time.html">
            <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
            Time Analysis
          </a>
        </li>

        <li>
          <a href="genre.html">
            <i class="fa fa-headphones fa-2x" aria-hidden="true"></i>
            Genre & Artist Analysis
          </a>
        </li>
      </ul>
    </section>

    <section class="tools">
      <h3>INFO</h3>

      <ul>
        <li>
          <a href="https://www.kaggle.com/datasets/kabhishm/best-selling-music-artists-of-all-time">
            <i class="fa fa-database fa-2x" aria-hidden="true"></i>

            Data
          </a>
        </li>

        <li>
          <a href="about.html">
            <i class="fa fa-question-circle fa-2x" aria-hidden="true"></i>
            About Us
          </a>
        </li>
      </ul>
    </section>
  </nav> -->

<nav class="main-menu">
  <div>
    <a class="logo" href="http://startific.com"> </a>
  </div>
  <div class="settings"></div>
  <div class="scrollbar" id="style-1">
    <ul>
      <li>
        <a href="index.html">
          <i class="fa fa-home fa-lg"></i>
          <span class="nav-text">Home</span>
        </a>
      </li>

      <li>
        <a href="geo.html">
          <i class="fa fa-globe fa-lg"></i>
          <span class="nav-text">Geo Analysis</span>
        </a>
      </li>
      <li>
        <a href="genre.html">
          <i class="fa fa-headphones fa-lg" aria-hidden="true"></i>
          <span class="nav-text">Genre & Artist Analysis</span>
        </a>
      </li>
      <li>
        <a href="time.html">
          <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
          <span class="nav-text">Time Analysis</span>
        </a>
      </li>
      <li>
        <a href="https://www.kaggle.com/datasets/kabhishm/best-selling-music-artists-of-all-time">
          <i class="fa fa-database fa-lg" aria-hidden="true"></i>
          <span class="nav-text">Data</span>
        </a>
      </li>
      <li>
        <a href="about.html">
          <i class="fa fa-question-circle fa-2x" aria-hidden="true"></i>
          <span class="nav-text">About Us</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
